# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/.idea
lightdm-tex-greeter.iml
config.log
config.status
Makefile
config.h
/src/.deps
stamp-it
POTFILES
lightdm-tex-greeter
*.o
